* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #FFFBFF;
}

.center-wrapper {
    max-width: 428px;
    margin: 0 auto;
    padding: 24px 16px 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.todo-date-wrapper,
.todo-form-wrapper,
.todo-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.todo-date-wrapper {
    gap: 4px;
}

.todo-search-wrapper {
    position: relative;
}

.todo-search {
    border: none;
    outline: none;
    border-radius: 28px;
    height: 48px;
    padding: 8px 16px;
    background-color: #F7F2FA;
    width: 100%;
}

.todo-search-icon {
    position: absolute;
    top: 12px;
    right: 16px
}

.title {
    color: #1D1B1E;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.44px;
}

.subtitle {
    font-size: 15px;
    line-height: 19.08px;
}

.todo-form {
    background-color: #F7F2FA;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.todo-form__input {
    height: 56px;
    padding: 16px;
    border: 1px solid #79747E;
    outline: none;
    border-radius: 4px;
    background-color: #F7F2FA;
}

.todo-search,
.todo-form__input,
.todo-search::placeholder,
.todo-form__input::placeholder {
    color: #49454F;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.todo-form__actions {
    display: flex;
    gap: 8px;
    justify-content: end;
}

.todo-form__btn {
    cursor: pointer;
    height: 40px;
    min-width: 115px;
    color: #6750A4;
    background-color: #F7F2FA;
    border: 1px solid #79747E;
    outline: none;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.todo-form__btn.btn--add {
    background-color: #6750A4;
    color: #FFFFFF;
}

.todo-list-tabs {
    display: flex;
}

.tab {
    cursor: pointer;
    width: 125px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    border: 1px solid #79747E;
    background-color: #FFFBFF;
}

.tab:nth-child(1) {
    border-radius: 100px 0 0 100px;
}

.tab:nth-child(2) {
    border-right: none;
    border-left: none;
}

.tab:nth-child(3) {
    border-radius: 0 100px 100px 0;
    width: 145px;
}

.tab--selected {
    background-color: #E8DEF8;
}


.tab__icon {
    display: none;
}

.tab--selected .tab__icon {
    display: block;
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.task {
    background-color: #F7F2FA;
    border-radius: 16px;
    padding: 8px 16px 8px 0;
    display: grid;
    grid-template-columns: 50px 1fr;
    row-gap: 8px;
}

.task__check {
    width: 18px;
    height: 18px;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}

.task__check:checked {
    accent-color: #D0BCFF;
}

.task__date,
.task__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.27;
    color: #1D1B1E
}

.task__text {
    font-size: 16px;
}

.task--done .task__date,
.task--done .task__text {
    color: rgba(29, 27, 30, 0.5);

}

.task--done .task__text {
    text-decoration: line-through;
}